input.form-control:focus {
    outline: none;
    box-shadow: none;
}

.widget-title {
    margin: 4px 4px 8px 0;
    user-select: none;
}

.widget-head .close-button {
    margin: 8px 0 auto 4px;
    cursor: default;
    fill: #555;
}

.widget-head .close-button:hover {
    fill: black;
}

div.widget-dialog {
    position: absolute;
    width: auto;
    height: auto;
    padding: 12px;
    border: 2px solid grey;
    border-radius: 4px;
    min-width: 400px;
    background:#f8f8f8;
    opacity: 0.95;
}

div.widget-dialog hr.head {
    margin-top: 0;
}

.widget-head {
    cursor: move;
}