.widget {
  stroke: grey;
  z-index: 100;
}


g.widget-ear path:first-child {
    stroke: transparent;
    stroke-linecap: round;
    stroke-width: 20;
}

g.widget-ear path:not(:first-child){
    stroke: grey;
    stroke-linecap: round;
    stroke-width: 3;
}

g.widget-ear:hover path:not(:first-child) {
    stroke: grey;
    stroke-linecap: round;
    stroke-width: 5;
}

g.connection path {
    fill: none;
}

g.connection path.hoverArea {
    stroke: transparent;
    stroke-linecap: round;
    stroke-width: 20;
}

g.connection path.hovered {
    visibility: hidden;
    stroke: lightgrey;
    stroke-linecap: round;
    stroke-width: 6px;
}

g.connection:hover path.hovered {
    visibility: visible;
}

g.connection path.connection {
    fill: none;
    stroke: grey;
    stroke-width: 3px;
}

g.temp {
    pointer-events: none;
}

div.widget-dialog {
    position: absolute;
    width: auto;
    height: auto;
    padding: 4px;
    background-color: white;
    border: 1px solid black;
    min-width: 400px;
    z-index: 150;
}

svg:focus {
    outline: none;
}
